
src/SAT.Services.CFDI.Consulta/bin/Debug/Jaeger.SAT.CFDI.Consulta.dll
src/SAT.Services.CFDI.Consulta/bin/Debug/Jaeger.SAT.CFDI.Consulta.pdb
src/SAT.Services.CFDI.Consulta/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/SAT.Services.CFDI.Consulta/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.AssemblyReference.cache
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.CoreCompileInputs.cache
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.FileListAbsolute.txt
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.GenerateResource.cache
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Consulta.dll
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Consulta.pdb
src/SAT.Services.CFDI.Consulta/obj/Debug/Jaeger.SAT.CFDI.Properties.Resources.resources
tester/.vs/Jaeger.SAT/FileContentIndex/d639da17-6fe1-44b0-9a40-e9558d235d97.vsidx
tester/.vs/Jaeger.SAT/FileContentIndex/de97f876-eef2-4a84-961e-0048490d66d3.vsidx
tester/.vs/Jaeger.SAT/v17/.suo
tester/Jaeger.SAT.Tester/bin/Debug/Jaeger.SAT.CFDI.Consulta.dll
tester/Jaeger.SAT.Tester/bin/Debug/Jaeger.SAT.CFDI.Consulta.pdb
tester/Jaeger.SAT.Tester/bin/Debug/Jaeger.SAT.Tester.exe
tester/Jaeger.SAT.Tester/bin/Debug/Jaeger.SAT.Tester.exe.config
tester/Jaeger.SAT.Tester/bin/Debug/Jaeger.SAT.Tester.pdb
tester/Jaeger.SAT.Tester/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
tester/Jaeger.SAT.Tester/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tester/Jaeger.SAT.Tester/obj/Debug/Jaeger.SAT.Tester.csproj.AssemblyReference.cache
tester/Jaeger.SAT.Tester/obj/Debug/Jaeger.SAT.Tester.csproj.CopyComplete
tester/Jaeger.SAT.Tester/obj/Debug/Jaeger.SAT.Tester.csproj.CoreCompileInputs.cache
tester/Jaeger.SAT.Tester/obj/Debug/Jaeger.SAT.Tester.csproj.FileListAbsolute.txt
tester/Jaeger.SAT.Tester/obj/Debug/Jaeger.SAT.Tester.exe
tester/Jaeger.SAT.Tester/obj/Debug/Jaeger.SAT.Tester.pdb
src/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.FileListAbsolute.txt
src/obj/Debug/Jaeger.SAT.CFDI.Consulta.csproj.GenerateResource.cache
src/obj/Debug/Jaeger.SAT.CFDI.Consulta.dll
src/obj/Debug/Jaeger.SAT.CFDI.Consulta.pdb
src/obj/Debug/Jaeger.SAT.CFDI.Properties.Resources.resources
src/bin/Debug/Jaeger.SAT.CFDI.Consulta.dll
src/bin/Debug/Jaeger.SAT.CFDI.Consulta.pdb
src/bin/Debug/Jaeger.SAT.CFDI.Consulta.dll
src/bin/Debug/Jaeger.SAT.CFDI.Consulta.pdb
src/bin/Debug/Jaeger.SAT.CFDI.Consulta.dll
src/bin/Debug/Jaeger.SAT.CFDI.Consulta.pdb
